/* Thiết lập cơ bản*/
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to left, rgb(221, 161, 48), #9d3e99);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    color: #343a40; 
    font-size: 24px;
    font-weight: 600;
}

/* Nhóm input và label */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #495057;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #007bff;
    outline: none;
}

/* Style cho nút Đăng Nhập (Login) */
.login-btn {
    background-color: #28a745;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #03270b;
}

.register-btn {
    background-color: #007bff;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.register-btn:hover {
    background-color: #0056b3;
}

/* Liên kết chân trang */
.footer-links {
    margin-top: 25px;
    font-size: 14px;
}

.footer-links a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.footer-links span {
    color: #6c757d;
}
/* máy tính bảng */
@media (min-width: 768px) {
    
    .product-listing {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .product-card {
        flex: 1 1 calc(50% - 20px); 
        margin: 0;
    }
}
/* Laptop */
@media (min-width: 1024px) {
    .product-card {
        flex: 1 1 calc(33.33% - 20px); 
    }
    .main-nav ul {
        justify-content: flex-start;
        padding: 10px 50px;
    }
}